### Introduction to Python

In [1]:
# how to print in python

print("Hello World")
print('''I love "Python" and "Machine Learning".''')

Hello World
I love "Python" and "Machine Learning."

In [39]:
#How to take input from user
a=input()
print(a)

10
10

In [11]:
# Basic Data Types in python

#Number
a=10           # here  a is variable storing the integer value 10

# Text
b="Hi"         # here  b is variable storing the string value "Hi"

# Bool
c=True         # here  c is variable storing the boolean value True

#Decimal values

d=10.254       # here  a is variable storing the float value 10.254

In [14]:
# type() is function that gives you the infomation about datatype of the variable

print(a,"------",type(a))
print(b,"------",type(b))
print(c,"----",type(c))
print(d,"--",type(d))

10 ------ <class 'int'>
Hi ------ <class 'str'>
True ---- <class 'bool'>
10.254 -- <class 'float'>

In [4]:
#Basical Mathematical Operations
a=12
b=5

#Add
c=a+b

#Subtract
d=a-b

# Multiply
e=a*b

#Division
f=a/b     #this will give you the float value  2.4
g=a//b    #this will give you the integer value  2

#modulous gives you the remainder as output
h=a%b

In [6]:
print("Addition of a and b is: ",  c,   type(c))
print("Subtraction of a and b is: ",d,type(d))
print("Multiplication of a and b is: ",e,type(e))
print("Division of a and b is: ",f,type(f))
print("Addition of a and b is: ",g,type(g))
print("Modulous of a and b is: ",h,type(h))

Addition of a and b is:  17 <class 'int'>
7 <class 'int'>
60 <class 'int'>
2.4 <class 'float'>
2 <class 'int'>
2 <class 'int'>

### Type Conversion and Type Casting


Type casting and type conversion are both processes of converting a value from 
one data type to another. However, there are some key differences between the two.
Type casting is when the programmer manually converts a value from one data type to another. This is done using the built-in functions int(), float(), str(), bool(), and complex().

In [15]:
#Basical Mathematical Operations
a=12
b=5.0

#Add
c=a+b

#Subtract
d=a-b

# Multiply
e=a*b

#Division
f=a/b     #this will give you the float value  2.4
g=a//b    #this will give you the integer value  2

#modulous gives you the remainder as output
h=a%b

In [53]:
#Type Conversion
print("Here what you see is, computer itself converting the data type of the output to float")
print("Addition of a and b is: ",  c,   type(c))
print("Subtraction of a and b is: ",d,type(d))
print("Multiplication of a and b is: ",e,type(e))
print("Division of a and b is: ",f,type(f))
print("Modulous of a and b is: ",h,type(h))

print("----------------------------------------------------------------------")

#Type Casting
print("Here what you see is, programmer itself converting the data type of the output")
print("Addition of a and b is: ",  int(c))
print("Subtraction of a and b is: ",int(d))
print("Multiplication of a and b is: ",complex(e))
print("Division of a and b is: ", f)
print("Modulous of a and b is: ", h)

Here what you see is, computer itself converting the data type of the output to float
Addition of a and b is:  17.0 <class 'float'>
Subtraction of a and b is:  7.0 <class 'float'>
Multiplication of a and b is:  60.0 <class 'float'>
Division of a and b is:  2.4 <class 'float'>
Modulous of a and b is:  2.0 <class 'float'>
----------------------------------------------------------------------
Here what you see is, programmer itself converting the data type of the output
Addition of a and b is:  17
Subtraction of a and b is:  7
Multiplication of a and b is:  (60+0j)
Division of a and b is:  2.4
Modulous of a and b is:  2.0

### Function

In [19]:
def add(a,b):
    c=a+b
    return c

In [20]:
print(add(10,5))

15

### Question

Q1. Write a python function which take only name as argument(from the user) and display the output "Hello (passed_argement)". 

Q2. Make a function that takes two argument and performs all mathematical calculation.

In [81]:
#Q1
def name(b):
    print("Hello",b)
    
z=input()
name(z)

Ashu
Hello Ashu

In [30]:
#Q2.
def calculate(a,b):
    return a+b,a-b,a*b,a/b

calculate(10,5)

(15, 5, 50, 2.0)

### Loops

In [31]:
#for loop 
# Range() : It is used to generate the sequence of the number.


for i in range(10):
    print("Ashu")

Ashu
Ashu
Ashu
Ashu
Ashu
Ashu
Ashu
Ashu
Ashu
Ashu

In [32]:
#while loop
i=0
while i<10:
    print('Ashu')
    i+=1

Ashu
Ashu
Ashu
Ashu
Ashu
Ashu
Ashu
Ashu
Ashu
Ashu

In [48]:
#continue and break keyword
for i in range(10):
    continue      # if we use continue statement, then the interpreter skips all the code after continue
    print("Ashu")

In [47]:
for i in range(10):
    print("I am")
    continue
    print("Ashu")

I am
I am
I am
I am
I am
I am
I am
I am
I am
I am

In [50]:
for i in range(10):
    print("Ashu")   
    break  # break is used to terminate the loop or break the loop
    print("singh")

Ashu

### Question
Write a python function to calculate the sum of  first 10 numbers.

In [51]:
#Solution
sum=0
for i in range(1,11):
    sum+=i
print(sum)

55

### Conditional Statements

In [43]:
n=int(input("enter the marks"))
if n==100:
    print('You are the topper')
else:
    print('You need to work')

enter the marks45
You need to work

### Question 
Check if the given number is prime or not?

In [3]:
#Solution:-
n= int(input('enter the number: '))
flag=0
for i in range(2,n):
    if (n%i==0):
        flag+=1
        break
if flag==0:
    print('number is prime')
else:
    print('number is  not prime')

enter the number: 95
number is  not prime

### Data Structures

1. Muttable: List,Dictionary, Set
2. Immutable: Tuple

In [6]:
#List
lis=[1,2,3,"Ashu",10.8,"Kumar"]
print(lis)


a=[1,2,3,4,5,1,1]
print(a)

b=[1,2,2.9,'Ashu']
print(b,type(b))

#Traversing a list
for i in b:
    print(i)

    
for i in range(len(a)):
    print(a[i])

[1, 2, 3, 'Ashu', 10.8, 'Kumar']
[1, 2, 3, 4, 5, 1, 1]
[1, 2, 2.9, 'Ashu'] <class 'list'>
1
2
2.9
Ashu

In [7]:
#How to find an element ion the list
a=[1,2,3,4,5,1,1]
print(a)
print(a.index(1))
print(len(a)) # length of list

# How to add element's in the list 
a.append("kumar")
print(a)

a.insert(3,'Ashu')
print(a)

a.extend([90,89,87,'Python'])
# a.extend(b)
print(a)


#how to delete an element from a list
b.pop()
print(b)
b.remove(1)
print(b)


# print(b[0])
# print(len(b))


#How to delete a list

# del a
# print(a)
print(a)
a.remove(a[5])
print(a)

[1, 2, 3, 4, 5, 1, 1]
0
7
[1, 2, 3, 4, 5, 1, 1, 'kumar']
[1, 2, 3, 'Ashu', 4, 5, 1, 1, 'kumar']
[1, 2, 3, 'Ashu', 4, 5, 1, 1, 'kumar', 90, 89, 87, 'Python']
[1, 2, 2.9]
[2, 2.9]
[1, 2, 3, 'Ashu', 4, 5, 1, 1, 'kumar', 90, 89, 87, 'Python']
[1, 2, 3, 'Ashu', 4, 1, 1, 'kumar', 90, 89, 87, 'Python']

2
3
Ashu
4
1
kumar
90
89
87
Python

In [65]:
Mark=[]

N=int(input('enter the no. of students'))

for i in range(N):
    Ele=int(input('enter the marks '))
    Mark.append(Ele)

print(Mark)

enter the no. of students5
enter the marks1
enter the marks5
enter the marks4
enter the marks5
enter the marks4
[1, 5, 4, 5, 4]

In [9]:
# tuple

t = (1,2,3)
print(t,type(t))

# Check len just like a list
print(len(t))

#Converting list into tuple
lis=[1,2,3,4,5]
t_l=tuple(lis)

#How to save a single element in tuple
t_s=(1,)
print(type(t_s))

b=(1,2,"Ashu")
print(b,type(b))

del t_l
# You cannot add new elements to a tuple once it is initialised meaning they are immutable

# b.append(3)
# print(b)

(1, 2, 3)
3
<class 'tuple'>
(1, 2, 'Ashu') <class 'tuple'>

In [36]:
# Make a dictionary with {} and : to signify a key and a value
my_dict={'key1':'value1','key2':'value2',1:'value2'}
print(my_dict)

# Traversing dictionary
for i in my_dict:
    print(i,my_dict[i])
# my_dict['key2']

{'key1': 'value1', 'key2': 'value2', 1: 'value2'}
key1 value1
key2 value2
1 value2

In [37]:
#How to add new elements in a dictionary
my_dict[3]="Python"
my_dict[2]=5
print(my_dict)
len(my_dict)

#updating
my_dict[3]=909985
my_dict


#Accessing an element in dictionary
print(my_dict['key2'])
# print(my_dict)


print(my_dict.items())



# pop() method
my_dict.pop(2)
print(my_dict)
  
    
    
# popitem() method
my_dict.popitem()
print(my_dict)


my_dict[2]=5

print(my_dict.keys())
print(my_dict.values())

del(my_dict['key2'])
my_dict

{'key1': 'value1', 'key2': 'value2', 1: 'value2', 3: 'Python', 2: 5}
value2
dict_items([('key1', 'value1'), ('key2', 'value2'), (1, 'value2'), (3, 909985), (2, 5)])
{'key1': 'value1', 'key2': 'value2', 1: 'value2', 3: 909985}
{'key1': 'value1', 'key2': 'value2', 1: 'value2'}
dict_keys(['key1', 'key2', 1, 2])
dict_values(['value1', 'value2', 'value2', 5])

{'key1': 'value1', 1: 'value2', 2: 5}

In [38]:
del my_dict

In [39]:
x = set()
# We add to sets with the add()
x.add(1)
x.add(2)
x.add(3)
x.add(2)
x.add(1)
x

{1, 2, 3}

In [43]:
s={1,2,3,1,1,2,2,5,6,6}
print(s)
# Inserting an element in set
s.add(9)
print(s)

{1, 2, 3, 5, 6}
{1, 2, 3, 5, 6, 9}

In [44]:
s.pop()
s.remove(6)

In [45]:
s

{2, 3, 5, 9}

In [27]:
del s

In [3]:
a=20

In [5]:
print(f"{a}")

20

WAP to take marks as input (5 times) from user and save it into the list.
use input() only once
print number of students who scored more than 90

In [13]:
marks=[]
for i in range(5):
    n=int(input("enter the marks: "))
    marks.append(n)

enter the marks: 20
enter the marks: 98
enter the marks: 95
enter the marks: 99
enter the marks: 100

In [14]:
print("marks=",marks)

marks= [20, 98, 95, 99, 100]

In [16]:
count=0
for i in marks:
    if i>90:
       
        count=count+1
print(count)

4

In [54]:
for i in range(5):
    for j in range(i):
        print("* ",end="")
    print('\r')

*
* *
* * *
* * * *

In [2]:
a=10
print(type(a))

<class 'int'>